root = true                         # 根目录的配置文件，编辑器会由当前目录向上查找，如果找到 `roor = true` 的文件，则不再查找

[*]                                 # 匹配所有的文件

indent_style = space                # 空格缩进
indent_size = 2                     # 缩进空格为2个
# end_of_line = lf